/* App.css */
.App {
  text-align: center;
  margin-top: 5rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

button {
  margin-left: 0.5rem;
}
html {
  background: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
}
h1 {
  justify-content: center;
  display: flex;
}